[general]

# list of the sample types I expect here
samplesList = NOH_0, NOH_NP, NOH_R, NOH_L

outputFile  = readLHEFile_03.root

[NOH_0]
LHEfile       = /Users/govoni/NoBackup/2016-06-09-VBS_pol_samples/NOH_0/total.lhe
crossSection  = 5.198396508348606E-004
maxEvents     = -1
maxSelEvents  = -1

[NOH_NP]
LHEfile       = /Users/govoni/NoBackup/2016-06-09-VBS_pol_samples/NOH_NP/total.lhe
crossSection  = 1.938623762054957E-003
maxEvents     = -1
maxSelEvents  = -1

[NOH_R]
LHEfile       = /Users/govoni/NoBackup/2016-06-09-VBS_pol_samples/NOH_R/total.lhe
crossSection  = 5.209439852767255E-004
maxEvents     = -1
maxSelEvents  = -1

[NOH_L]
LHEfile       = /Users/govoni/NoBackup/2016-06-09-VBS_pol_samples/NOH_L/total.lhe
crossSection  = 8.809783754150929E-004
maxEvents     = -1
maxSelEvents  = -1
